.App {
    height: 100vh;
}

.wrapper {
    position: fixed;
    width: 426px;
    height: 379px;
    left: calc(50% - 213px);
    bottom: 5px;
    box-shadow:  0 0 10px black;
}
.closer {
    width: max-content;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.step1 {
    /*box-shadow:  0 0 10px black;*/
}
.bottom {
    width: 90%;
    margin: 0 auto;
}
.bottom button {
    margin-bottom: 15px;
}
.review-boxes {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 2px solid white;
}
.boxes-hover {
    background: orange;
}
.spanForItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid orange;
    border-radius: 5px;

}
.step3 input{
    width: 100%;
    height: 150px;
}